*{
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    gap: 0px;
    width: 100vw;
    height: 100vh;
}


.header{
    grid-area: h;
    background-color: #59546d;
    PADDING: 10px 10px;
    text-align: left;
}

.header_dark-mode{
    grid-area: h;
    background-color: black;
    PADDING: 10px 10px;
    text-align: left;
}

.top {

    margin-right: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    
}


ul a {
    display: block;
    color: #e0def4;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: #2a273f;
    
}

.sidebar {
    grid-area: s;
    background-color: #59546d;
    padding: 20px 20px;
    text-align: left;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main {
    grid-area: m;
    background-color: #e0def4;
    padding: 0px 0px;
}

.main_dark-mode {
    grid-area: m;
    background-color: black;
}


.newnote {
    margin-top: 25px;
    margin-left: 25px;
}


footer {
    grid-area: f;
    text-align: center;
    background-color: #59546d;
    padding: 20px 15px;
}



footer p {
    color: #e0def4;
}

.notebox {
    grid-area: m;
    margin-top: -70px;
    margin-left: 20px;
    padding: 55px 90px;
    background-color: #e0def4;
}

.side > ul a {
    display: block;
    text-align: center;
    color: #e0def4;
    font-size: 18px;
}

.note-buttons {
    margin-top: 5px;
    text-align: left;
    padding-right: 150px;
    padding-top: 10px;
}

.addbutton {
    margin-top: 60px;
    margin-left: 35px;
}

button {

    color: black;
    background-color: #c4a7e7;
    box-shadow: 1px;
    transition-duration: 0.2s;
    border: 1px, #26233a;
    border-radius: 12px;

    }

button:hover {
    background-color: #e0def4;
    }

.button:active {
    background-color: #c4a7e7;
    transform: translateY(2px);
    }

@media screen and (min-width: 1px) and (max-width: 599px) {
    div { background-color: #e0def4;
    font-size: 15px;}
    ul a { font-size: 15px}
}

@media screen and (min-width: 600px) {
    div { background-color: #e0def4;
    font-size: 20px; }
    ul a { font-size: 20px}
}